body {
  background-color: white;
}

.flex {
  display: flex;
}


.form-control {
  width: 700px;
  height: 60px;
}


.btn {
  margin-left: 20px;
  width: 200px;
  font-size: 20px;
}


.display {
  color: white;
}


.lead {
  color: white;
}


.general {
  background-color: black;
  height: 200px;
}
